<div class="bg-base-100 pb-48 relative min-h-screen w-full">
    <div class="flex h-36 justify-between place-items-center pr-4 fixed top-0 w-full bg-base-100 z-10">
        <div class="imgage-holder h-full"><img src="../assets/GTT Logo.png" class="h-full object-cover" alt="GTT logo"
                srcset=""></div>
        <input type="text" class="input bg-white bg-opacity-5 rounded-md w-1/2" name="query" placeholder="Search ...">

    </div>
    <div class="px-3 pt-40">
        <div class="grid gap-x-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div class="flex justify-between bg-white bg-opacity-5 w-full px-4 py-5 mb-4 relative text-white rounded-xl">
                <div class="left">
                    <p class="text-lg">Kagiso Monageng</p>
                    <p>10 Cupcakes</p>
                </div>
                <div class="right">
                    <p class="text-xl font-bold">R40.00</p>
                </div>
            </div>
        
        </div>
        

    </div>


    <div class="flex fixed bottom-4 w-full justify-center">
        <button class="btn btn-primary bg-opacity-70 backdrop-blur-lg border-none shadow w-1/2"
            routerLink="/add-new">New Invoice
        </button>
    </div>
</div>